body {
    background-color: #FAFAFA;
}

#av-search-input {
    padding-left: 50px;
    background-color: #EEEEF1;
    border-radius: 20px;
    width: 100%;
}

.search-bar {
    margin-bottom: 20px;
}

#av-counter {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#av-counter p {
    margin-bottom: 0;
}

.av-displayed {
    font-weight: 700;
}

.av-item-container {
    /* min-height: 250px; */
    margin-bottom: 20px;
}

/* .av-item-container-blue {
    padding: 50px 0;
    margin: -40px 0 20px 0;
    background-color: #314AA3;
    width: 100%;
} */

.av-item-container-blue {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* .av-lider-products-container {
    padding-top: 20px;
} */

.av-item-content {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    border-radius: 10px;
    background-color: #ffffff;
}

.av-item-content-blue {
    display: flex;
    flex-direction: row;
}

.av-top {
    background-image: url(../assets/icons/background-star.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.av-aspirate-content p {
    margin: 0px
}

.av-left-column {
    margin: 10px;
    min-width: 250px;
}

.av-left-column img {
    border-radius: 10px;
    max-width: 250px;
    height: auto;
}

.av-right-column {
    margin-right: 10px;
    margin-left: 30px;
    min-width: 250px;
}

.av-name-row, .av-socials {
    display: flex;
    flex-direction: row;
}

.av-name-row {
    margin-top: 20px;
    align-items: center;
}

.av-name-row h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #314AA3;
    margin-bottom: 0;
}

.av-name-row-blue h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #FFF;
    margin-bottom: 0;
    padding-top: 40px;
}

.av-name-row-small h2 {
    font-size: 20px;
}

.av-name-row-big h2 {
    font-size: 30px;
}

.av-name-row h2:first-child {
    margin-right: 10px;
}

.av-name-row img {
    width: 20px;
}

.av-space-10 {
    padding-bottom: 10px;
}

.av-space-40 {
    padding-bottom: 40px;
}

/* Tooltip container */
.av-tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .av-tooltip .av-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #3a3a3a;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .av-tooltip:hover .av-tooltip-text {
    visibility: visible;
  }

  .av-tooltip .av-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #3a3a3a transparent transparent transparent;
  }

.av-company, .av-authors {
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
}

.av-company-blue, .av-description-blue {
    color: #FFF;
}

.av-description {
    margin-top: 5px !important;
}

.av-social-icon {
    fill: #A5A5A5;
    height: 20px;
    width: auto;
}

/* .av-social-icon-blue {
    fill: #FFF;
    height: 20px;
    width: auto;
} */

.av-socials-blue .av-social-icon {
    fill: #FFF
}

.av-socials-blue .av-social-icon:hover {
    fill: #CA9817
}

.av-social-icon:hover {
    fill: #314AA3;
}

.av-description {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 800px;
}

.av-description-dictionary {
    max-width: unset !important;
    margin-right: 20px;
}

.av-socials {
    margin-top: 10px;
    margin-bottom: 10px;
}

.av-socials a {
    margin-right: 35px;
}

.av-category-badge {
    background-color: #CA9817;
    border-color: #CA9817 !important;
    color: #ffffff;
    text-transform: uppercase;
}

.av-product-quantity-badge {
    border-color: #4562CA !important;
    color: #ffffff;
    text-transform: uppercase;
}

.av-info-badge {
    border-color: #314AA3;
    color: #314AA3;
}

.av-badge {
    border: solid 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

.av-categories {
    display: flex;
    flex-wrap: wrap;
}

.av-no-results {
    display: flex;
    justify-content: center;
}

#av-dictionary-anchors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-x: hide;
    padding-bottom: 15px;
}

.av-dictionary-letter-anchor {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #314AA3;
}

.av-dictionary-anchor-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-right: 12px;
}

.av-dictionary-anchor-link-inactive {
    color: #EEEEF1;
    cursor: default;
}

.av-lider-products-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #314AA3;
    font-size: 30px;
    text-transform: uppercase;
}

.av-show-more-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #314AA3;
    font-size: 16px;
}

@media only screen and (max-width: 1200px) {
    #av-dictionary-anchors {
        overflow-x: scroll;
    }
  }


@media only screen and (max-width: 700px) {
    .av-item-content, .av-item-content-blue {
        flex-wrap: wrap;
    }

    .av-left-column img {
        max-width: 350px;
    }

    .av-right-column {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .av-name-row {
        margin-top: 10px;
    }

    .av-socials {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #av-dictionary-anchors {
        justify-content: left;
    }

    .av-dictionary-anchor-link {
        margin-right: 25px;
    }
  }

  @media only screen and (max-width: 450px) {
    #av-search-input {
        padding-left: 20px;
    }

    .av-left-column {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .av-left-column img {
        max-width: 300px;
    }

    #av-counter {
        padding: 0;
    }
  }

  @media only screen and (max-width: 400px) {
    #av-search-input {
        padding-left: 5px;
    }

    .av-left-column img {
        max-width: 250px;
    }
  }

  @media only screen and (max-width: 350px) {
    .av-left-column, .av-right-column {
        min-width: min-content;
        width: 100%;
    }

    .av-left-column img {
        width: 100%;
    }

  }